<head>
    <title>Grocery Listify</title>
    <link rel="stylesheet" href="/normalize.css"/>
    <link rel="stylesheet" href="/skeleton.css"/>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div class="container">
        <div id="app"></div>
    </div>
    <script src="app.js"></script>
</body>